{
  "openapi": "3.1.0",
  "info": {
    "title": "eachlabs Video API (beta)",
    "version": "v1-beta",
    "description": "Machine-readable contract for the eachlabs Video API: 45 capability input schemas embedded token-for-token from the engine's capability registry (the canonical contract — content and key order preserved, whitespace re-flowed; keep_ranges and silence_remove are one capability under two accepted names), the prediction submit/poll/cancel envelopes, and the error taxonomy. GENERATED — do not edit by hand; regenerate with `make openapi` in be-monorepo/video-api. Human documentation: https://docs.eachlabs.ai/video/overview.",
    "contact": {
      "name": "eachlabs",
      "url": "https://docs.eachlabs.ai/video/overview"
    },
    "x-generator": "be-monorepo/video-api cmd/openapigen"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "externalDocs": {
    "description": "Human documentation for the video surface",
    "url": "https://docs.eachlabs.ai/video/overview"
  },
  "servers": [
    {
      "url": "https://api.eachlabs.ai"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "video",
      "description": "eachlabs Video API prediction surface"
    }
  ],
  "paths": {
    "/v1/prediction": {
      "post": {
        "description": "Submits one video capability job (or a raw run_ffmpeg job) for the eachlabs-video-api model and returns a prediction id to poll. Billing is per engine-metered execution second on the chosen tier with deliver-or-don't-bill semantics: a prediction that does not deliver its artifact settles at $0 in beta (tier rates are on the billing docs page, not in this contract). Input media longer than 3600 seconds is rejected before billing (duration_over_cap); execution is killed at the 3600-metered-seconds cap. Submission is not idempotent on this surface — no idempotency key is exposed, so a timed-out POST may still have created a prediction; poll before resubmitting. The gateway applies no video-specific HTTP request rate limit today (no 429 path); engine-level throttling surfaces asynchronously as an error prediction with error_code PROVIDER_RATE_LIMIT.",
        "operationId": "createVideoPrediction",
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "concat": {
                  "summary": "Join two clips end to end on a 1280x720 canvas (multi-input via input_urls, consumed in order)",
                  "value": {
                    "input": {
                      "capability": "concat",
                      "input_urls": [
                        "https://your-host.example/clip-1.mp4",
                        "https://your-host.example/clip-2.mp4"
                      ],
                      "params": {
                        "container": "mp4",
                        "height": 720,
                        "inputs": 2,
                        "width": 1280
                      },
                      "tier": "cpu"
                    },
                    "model": "eachlabs-video-api"
                  }
                },
                "probe": {
                  "summary": "Analysis capability: container/stream metadata returned as JSON in output, no artifact",
                  "value": {
                    "input": {
                      "capability": "probe",
                      "input_url": "https://your-host.example/source.mp4",
                      "params": {},
                      "tier": "cpu"
                    },
                    "model": "eachlabs-video-api"
                  }
                },
                "run_ffmpeg": {
                  "summary": "Raw mode: input_url binds {input}, output_format names {output}'s extension",
                  "value": {
                    "input": {
                      "argv": [
                        "ffmpeg",
                        "-i",
                        "{input}",
                        "-vf",
                        "scale=640:-2",
                        "-an",
                        "{output}"
                      ],
                      "input_url": "https://your-host.example/source.mp4",
                      "mode": "run_ffmpeg",
                      "output_format": "mp4",
                      "tier": "cpu"
                    },
                    "model": "eachlabs-video-api"
                  }
                },
                "transcode": {
                  "summary": "Transcode a source file to h264 at crf 28",
                  "value": {
                    "input": {
                      "capability": "transcode",
                      "input_url": "https://your-host.example/source.mp4",
                      "params": {
                        "crf": 28,
                        "vcodec": "h264"
                      },
                      "tier": "cpu"
                    },
                    "model": "eachlabs-video-api"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/VideoPredictionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Prediction created successfully",
                  "predictionID": "d63b9b70-5a2e-4c8f-9b1d-3e7a86c40f52",
                  "status": "success"
                },
                "schema": {
                  "$ref": "#/components/schemas/CreatePredictionResponse"
                }
              }
            },
            "description": "Prediction accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Empty object.",
                  "type": "object"
                }
              }
            },
            "description": "Request validation failure (e.g. missing model or input). The body is an empty JSON object today."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Empty object.",
                  "type": "object"
                }
              }
            },
            "description": "Missing or invalid X-API-Key. The body is an empty JSON object today."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Empty object.",
                  "type": "object"
                }
              }
            },
            "description": "Malformed (unparseable) JSON body. The body is an empty JSON object today."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            },
            "description": "Any other gateway failure."
          }
        },
        "summary": "Submit a video job",
        "tags": [
          "video"
        ]
      }
    },
    "/v1/prediction/{id}": {
      "get": {
        "description": "Returns the prediction's current state. Poll every 3-5 seconds until a terminal status (success, error, cancelled).",
        "operationId": "getVideoPrediction",
        "parameters": [
          {
            "description": "The prediction id returned by submit as predictionID.",
            "example": "eb474c68-0fc6-40a3-8c4a-63f1b064b8b0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "analysis": {
                    "summary": "Analysis capability: structured JSON in output, no artifact",
                    "value": {
                      "id": "7c31ba02-9e4d-4f6a-b18c-52e7d04a86c9",
                      "input": {
                        "capability": "probe",
                        "input_url": "https://your-host.example/source.mp4",
                        "params": {},
                        "tier": "cpu"
                      },
                      "logs": null,
                      "metrics": {
                        "cost": 0.0075,
                        "predict_time": 4.12
                      },
                      "output": {
                        "format": {
                          "duration": "12.032000",
                          "format_name": "mov,mp4,m4a,3gp,3g2,mj2"
                        },
                        "streams": [
                          {
                            "codec_name": "h264",
                            "codec_type": "video",
                            "height": 720,
                            "width": 1280
                          }
                        ]
                      },
                      "status": "success",
                      "urls": {
                        "cancel": "https://api.eachlabs.ai/v1/prediction/7c31ba02-9e4d-4f6a-b18c-52e7d04a86c9/cancel",
                        "get": "https://api.eachlabs.ai/v1/prediction/7c31ba02-9e4d-4f6a-b18c-52e7d04a86c9"
                      }
                    }
                  },
                  "error": {
                    "summary": "Zero-billed input-validation reject (captured envelope shape)",
                    "value": {
                      "id": "eb474c68-0fc6-40a3-8c4a-63f1b064b8b0",
                      "input": {
                        "capability": "silence_remove",
                        "input_url": "https://your-host.example/long-source.mp4",
                        "params": {
                          "ranges": [
                            {
                              "end": 210,
                              "start": 200
                            }
                          ]
                        },
                        "tier": "cpu"
                      },
                      "logs": null,
                      "metrics": {
                        "cost": 0,
                        "predict_time": 3.493916429
                      },
                      "output": {
                        "classification": {
                          "category": "VALIDATION"
                        },
                        "error": "Execution failed",
                        "error_code": "INPUT_VALIDATION_ERROR",
                        "error_message": "ranges: range start 200s is at or beyond source duration 120s (empty output)",
                        "error_step": "Surface Customer Reject.0",
                        "execution_id": "eb474c68-0fc6-40a3-8c4a-63f1b064b8b0",
                        "model_id": "e3b3d84f-a2dc-46a3-b6e7-e9d80face367",
                        "model_slug": "eachlabs-video-api",
                        "provider": "videoapi",
                        "retryable": false,
                        "status": "ERROR",
                        "success": false
                      },
                      "status": "error",
                      "urls": {
                        "cancel": "https://api.eachlabs.ai/v1/prediction/eb474c68-0fc6-40a3-8c4a-63f1b064b8b0/cancel",
                        "get": "https://api.eachlabs.ai/v1/prediction/eb474c68-0fc6-40a3-8c4a-63f1b064b8b0"
                      }
                    }
                  },
                  "processing": {
                    "summary": "Non-terminal poll: output and metrics fields are null",
                    "value": {
                      "id": "1f0fdf4d-7b3c-4e9a-8d25-c61f90ab4e73",
                      "input": {
                        "capability": "transcode",
                        "input_url": "https://your-host.example/source.mp4",
                        "params": {
                          "crf": 28,
                          "vcodec": "h264"
                        },
                        "tier": "cpu"
                      },
                      "logs": null,
                      "metrics": {
                        "cost": null,
                        "predict_time": null
                      },
                      "output": null,
                      "status": "processing",
                      "urls": {
                        "cancel": "https://api.eachlabs.ai/v1/prediction/1f0fdf4d-7b3c-4e9a-8d25-c61f90ab4e73/cancel",
                        "get": "https://api.eachlabs.ai/v1/prediction/1f0fdf4d-7b3c-4e9a-8d25-c61f90ab4e73"
                      }
                    }
                  },
                  "success": {
                    "summary": "Terminal success with one hosted artifact",
                    "value": {
                      "id": "1f0fdf4d-7b3c-4e9a-8d25-c61f90ab4e73",
                      "input": {
                        "capability": "transcode",
                        "input_url": "https://your-host.example/source.mp4",
                        "params": {
                          "crf": 28,
                          "vcodec": "h264"
                        },
                        "tier": "cpu"
                      },
                      "logs": null,
                      "metrics": {
                        "cost": 0.2865,
                        "predict_time": 194.86
                      },
                      "output": [
                        "https://cdn-us.eachlabs.ai/uploads/9b967c93-6e1d-4a5f-b2c8-40d7e93a51f6.mp4"
                      ],
                      "status": "success",
                      "urls": {
                        "cancel": "https://api.eachlabs.ai/v1/prediction/1f0fdf4d-7b3c-4e9a-8d25-c61f90ab4e73/cancel",
                        "get": "https://api.eachlabs.ai/v1/prediction/1f0fdf4d-7b3c-4e9a-8d25-c61f90ab4e73"
                      }
                    }
                  }
                },
                "schema": {
                  "$ref": "#/components/schemas/GetPredictionResponse"
                }
              }
            },
            "description": "Current prediction state."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Empty object.",
                  "type": "object"
                }
              }
            },
            "description": "Missing or invalid X-API-Key. The body is an empty JSON object today."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            },
            "description": "No prediction with that id."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            },
            "description": "Any other gateway failure."
          }
        },
        "summary": "Poll a prediction",
        "tags": [
          "video"
        ]
      }
    },
    "/v1/prediction/{id}/cancel": {
      "post": {
        "description": "Record-only cancellation: the prediction is marked cancelled and never bills. There is no 404 on this route today — an unknown id (or a backend cancel failure) surfaces as a 500 gateway error.",
        "operationId": "cancelVideoPrediction",
        "parameters": [
          {
            "description": "The prediction id returned by submit as predictionID.",
            "example": "eb474c68-0fc6-40a3-8c4a-63f1b064b8b0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Prediction canceled successfully",
                  "predictionID": "1f0fdf4d-7b3c-4e9a-8d25-c61f90ab4e73",
                  "status": "success"
                },
                "schema": {
                  "$ref": "#/components/schemas/CancelPredictionResponse"
                }
              }
            },
            "description": "Cancellation recorded."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Empty object.",
                  "type": "object"
                }
              }
            },
            "description": "Missing or invalid X-API-Key. The body is an empty JSON object today."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            },
            "description": "Unknown prediction id or a backend cancel failure."
          },
          "default": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GatewayError"
                }
              }
            },
            "description": "Any other gateway failure."
          }
        },
        "summary": "Cancel a prediction",
        "tags": [
          "video"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "description": "Your eachlabs API key (dashboard → API keys), sent on every request. One key authenticates and bills every video operation.",
        "in": "header",
        "name": "X-API-Key",
        "type": "apiKey"
      }
    },
    "schemas": {
      "CancelPredictionResponse": {
        "description": "Body of POST /v1/prediction/{id}/cancel.",
        "properties": {
          "message": {
            "type": "string"
          },
          "predictionID": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "message",
          "predictionID"
        ],
        "type": "object"
      },
      "CapabilityInput": {
        "description": "One of the 45 capability input envelopes, discriminated by the capability field.",
        "discriminator": {
          "mapping": {
            "audio_analysis": "#/components/schemas/CapabilityInput_audio_analysis",
            "audio_duck": "#/components/schemas/CapabilityInput_audio_duck",
            "audio_master": "#/components/schemas/CapabilityInput_audio_master",
            "audio_replace": "#/components/schemas/CapabilityInput_audio_replace",
            "captions": "#/components/schemas/CapabilityInput_captions",
            "color": "#/components/schemas/CapabilityInput_color",
            "concat": "#/components/schemas/CapabilityInput_concat",
            "concat_copy": "#/components/schemas/CapabilityInput_concat_copy",
            "crop": "#/components/schemas/CapabilityInput_crop",
            "crossfade": "#/components/schemas/CapabilityInput_crossfade",
            "extract_audio": "#/components/schemas/CapabilityInput_extract_audio",
            "fade": "#/components/schemas/CapabilityInput_fade",
            "gif": "#/components/schemas/CapabilityInput_gif",
            "hls_ladder": "#/components/schemas/CapabilityInput_hls_ladder",
            "keep_ranges": "#/components/schemas/CapabilityInput_keep_ranges",
            "loudnorm": "#/components/schemas/CapabilityInput_loudnorm",
            "lut3d": "#/components/schemas/CapabilityInput_lut3d",
            "overlay": "#/components/schemas/CapabilityInput_overlay",
            "package_abr": "#/components/schemas/CapabilityInput_package_abr",
            "package_abr_ladder": "#/components/schemas/CapabilityInput_package_abr_ladder",
            "pad": "#/components/schemas/CapabilityInput_pad",
            "poster": "#/components/schemas/CapabilityInput_poster",
            "probe": "#/components/schemas/CapabilityInput_probe",
            "reframe": "#/components/schemas/CapabilityInput_reframe",
            "reframe_track": "#/components/schemas/CapabilityInput_reframe_track",
            "reverse": "#/components/schemas/CapabilityInput_reverse",
            "rotate": "#/components/schemas/CapabilityInput_rotate",
            "scale": "#/components/schemas/CapabilityInput_scale",
            "scene_detect": "#/components/schemas/CapabilityInput_scene_detect",
            "segment": "#/components/schemas/CapabilityInput_segment",
            "silence_detect": "#/components/schemas/CapabilityInput_silence_detect",
            "silence_remove": "#/components/schemas/CapabilityInput_silence_remove",
            "silence_split": "#/components/schemas/CapabilityInput_silence_split",
            "slideshow": "#/components/schemas/CapabilityInput_slideshow",
            "speed": "#/components/schemas/CapabilityInput_speed",
            "sticker_overlay": "#/components/schemas/CapabilityInput_sticker_overlay",
            "stills": "#/components/schemas/CapabilityInput_stills",
            "storyboard_sprites": "#/components/schemas/CapabilityInput_storyboard_sprites",
            "subtitle_compose": "#/components/schemas/CapabilityInput_subtitle_compose",
            "thumbnails": "#/components/schemas/CapabilityInput_thumbnails",
            "title_card": "#/components/schemas/CapabilityInput_title_card",
            "transcode": "#/components/schemas/CapabilityInput_transcode",
            "trim": "#/components/schemas/CapabilityInput_trim",
            "volume": "#/components/schemas/CapabilityInput_volume",
            "watermark": "#/components/schemas/CapabilityInput_watermark"
          },
          "propertyName": "capability"
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/CapabilityInput_audio_analysis"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_audio_duck"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_audio_master"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_audio_replace"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_captions"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_color"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_concat"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_concat_copy"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_crop"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_crossfade"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_extract_audio"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_fade"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_gif"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_hls_ladder"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_keep_ranges"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_loudnorm"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_lut3d"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_overlay"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_package_abr"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_package_abr_ladder"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_pad"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_poster"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_probe"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_reframe"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_reframe_track"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_reverse"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_rotate"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_scale"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_scene_detect"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_segment"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_silence_detect"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_silence_remove"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_silence_split"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_slideshow"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_speed"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_sticker_overlay"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_stills"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_storyboard_sprites"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_subtitle_compose"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_thumbnails"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_title_card"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_transcode"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_trim"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_volume"
          },
          {
            "$ref": "#/components/schemas/CapabilityInput_watermark"
          }
        ]
      },
      "CapabilityInput_audio_analysis": {
        "description": "Input envelope for the \"audio_analysis\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "audio_analysis",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "audio_analysis",
            "description": "Measure the audio track: integrated loudness (LUFS), loudness range (LU), true peak (dBTP), sample peak (dBFS), and the astats clipping indicators flat_factor (dB flatness of consecutive equal samples) and peak_count (occurrences of the max sample) via astats+ebur128. Returns structured JSON, no uploaded artifact (zero egress). The input MUST carry an audio stream: a video-only input is rejected before billing. Any field that cannot be measured is omitted from the result rather than reported as zero: a digitally silent input returns no true_peak_dbtp and no sample_peak_dbfs (silence has no finite dB peak), and any statistic ffmpeg reports as -inf/nan is likewise omitted. Treat a missing field as not-measurable, never as 0. Runs on the cpu tier only: a request on the gpu tier is rejected before billing.",
            "type": "object",
            "properties": {},
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_audio_duck": {
        "description": "Input envelope for the \"audio_duck\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "audio_duck",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "audio_duck",
            "description": "Duck a music/program bed under a voice track using two inputs: input0 is the music, input1 is the voice. The voice drives a sidechain compressor that lowers the music while the voice is above threshold, and the SAME voice is then mixed on top, so the output carries the voice over the ducked bed. The output is always audio-only (mp3, wav, or m4a): a video input0 contributes only its audio track and its video stream is discarded. The output runs exactly as long as input0's audio: a voice longer than the music is truncated at the music's end, and a voice shorter than the music leaves the remaining music playing at full level. Inputs that differ in sample rate or channel layout are never rejected: the voice is silently resampled and up/down-mixed to the music's format, and the output inherits input0's sample rate and channel count. Levels are never auto-normalized: the voice and the ducked music keep their source loudness, which can clip if both are hot. Both inputs must carry an audio stream: an input without one is rejected before billing. Runs on the cpu tier only: a request on the gpu tier is rejected before billing.",
            "type": "object",
            "properties": {
              "threshold": {
                "type": "number",
                "minimum": 0.000976563,
                "maximum": 1,
                "default": 0.05,
                "description": "Voice level that triggers the duck, as LINEAR amplitude where 1 is full scale (0 dBFS); the default 0.05 is about -26 dBFS. The music is compressed while the voice is above this level; lower values duck on quieter voice."
              },
              "ratio": {
                "type": "number",
                "minimum": 1,
                "maximum": 20,
                "default": 8,
                "description": "How hard the music is reduced once the voice crosses threshold: 1 leaves it untouched, 20 flattens it. The default 8 is a firm broadcast-style duck."
              },
              "attack_ms": {
                "type": "number",
                "minimum": 0.01,
                "maximum": 2000,
                "default": 20,
                "description": "Milliseconds for the duck to fully engage after the voice crosses threshold."
              },
              "release_ms": {
                "type": "number",
                "minimum": 0.01,
                "maximum": 9000,
                "default": 250,
                "description": "Milliseconds for the music to recover to full level after the voice falls below threshold."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp3",
                  "wav",
                  "m4a"
                ],
                "default": "mp3",
                "description": "Output audio format and codec (default mp3): mp3 encodes with libmp3lame and m4a with AAC; wav writes lossless PCM."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_audio_master": {
        "description": "Input envelope for the \"audio_master\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "audio_master",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "audio_master",
            "description": "Master the audio track to a distribution loudness target: compressor -> EBU R128 loudness normalization (single-pass) -> true-peak limiter, written audio-only. The input MUST carry an audio stream: a video-only input is rejected before billing. A fixed gentle compressor (2:1 ratio, -18 dB threshold, 30 ms attack) is always applied before normalization and cannot be disabled; for loudness normalization without compression use the loudnorm capability instead. Normalization runs in a single pass, so the output's measured integrated loudness can deviate from target_lufs, especially on short or highly dynamic inputs; ceiling_dbtp is still enforced by the final limiter. The output is always resampled to 44100 Hz regardless of the source sample rate; there is no way to keep the source rate. Runs on the cpu tier only: a request on the gpu tier is rejected before billing.",
            "type": "object",
            "properties": {
              "target_lufs": {
                "type": "number",
                "minimum": -30,
                "maximum": -8,
                "default": -14,
                "description": "Integrated loudness target in LUFS. -14 is the common streaming target, -16 podcast, -23 EBU R128 broadcast."
              },
              "ceiling_dbtp": {
                "type": "number",
                "minimum": -9,
                "maximum": 0,
                "default": -1,
                "description": "True-peak ceiling in dBTP; the final limiter enforces it."
              },
              "bitrate": {
                "type": "string",
                "enum": [
                  "128k",
                  "192k",
                  "256k",
                  "320k"
                ],
                "default": "320k",
                "description": "Audio bitrate for the lossy containers (mp3/m4a). Rejected for wav (lossless)."
              },
              "preset": {
                "type": "string",
                "enum": [
                  "broadcast",
                  "podcast",
                  "streaming"
                ],
                "description": "Named target pair: streaming = -14 LUFS / -1 dBTP, podcast = -16 / -1.5, broadcast = -23 / -2. Mutually exclusive with target_lufs/ceiling_dbtp."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp3",
                  "wav",
                  "m4a"
                ],
                "default": "mp3",
                "description": "Output audio format and codec (default mp3): mp3 encodes with libmp3lame and m4a with AAC, both honoring the bitrate param; wav writes lossless PCM and rejects an explicit bitrate."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_audio_replace": {
        "description": "Input envelope for the \"audio_replace\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "audio_replace",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "audio_replace",
            "description": "Swap or mix a video's audio using two inputs: input0 is the video, input1 is the audio source. The video stream is always copied without re-encoding; the output audio is always re-encoded to AAC regardless of the source codec. replace mode requires input0 to carry a video stream and input1 an audio stream; mix mode additionally requires input0 to carry its own audio stream. An input missing a required stream is rejected before billing.",
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "enum": [
                  "replace",
                  "mix"
                ],
                "default": "replace",
                "description": "replace: input1's audio replaces input0's; -shortest ends the output at the shorter of video and audio, so a video longer than the new audio is trimmed to the audio and audio longer than the video is trimmed to the video. mix: input1's audio is mixed into input0's over the full-length copied video; the mixed audio track ends when the SHORTER of the two audio streams ends, and the remainder of the video plays with no audio at all (the original audio does not continue past the mix end). Match input1's length to the video to avoid a silent tail."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "mkv"
                ],
                "default": "mp4",
                "description": "Output container. Restricted to mp4/mkv because the video stream is copied (not re-encoded) and webm holds only VP8/VP9, not a copied H.264 stream."
              },
              "normalize": {
                "type": "boolean",
                "default": true,
                "description": "mix only: amix loudness normalization. true (default, no-clip-safe) scales each track by 1/n, so the original and added audio are each halved. false preserves source levels (louder, can clip if both inputs are hot). Ignored in replace mode."
              },
              "offset_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 3600000,
                "default": 0,
                "description": "Milliseconds of silence prepended to input1's audio (adelay, all channels equally) before the replace/mix, so narration can start at t>0 without client-side pre-padding. In replace mode -shortest still ends the output at min(video, offset+audio): an offset pushing the narration past the video end truncates it, and an offset at/past the video duration yields a full-length video whose audio is entirely silent. In mix mode the delayed audio mixes over the full copied video."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_captions": {
        "description": "Input envelope for the \"captions\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "captions",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "captions",
            "description": "Burn a subtitle file into the video as open captions. Supply exactly two inputs in order: the first is the video, the second is the subtitle file (SRT, VTT, or ASS). The whole video is re-encoded to apply the burn-in. Runs on the cpu tier only: a request on the gpu tier is rejected before billing.",
            "type": "object",
            "properties": {
              "font_size": {
                "type": "integer",
                "minimum": 8,
                "maximum": 200,
                "description": "Subtitle font size in points; omit for the libass/source default."
              },
              "text_color": {
                "type": "string",
                "description": "Primary text color: a named color (white, black, gray/grey, red, green, blue, yellow) or #RRGGBB hex. Omit for the source default."
              },
              "position": {
                "type": "string",
                "enum": [
                  "bottom",
                  "top"
                ],
                "description": "Caption anchor; omit to keep the subtitle file's own alignment (libass defaults to bottom)."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "webm",
                  "mkv"
                ],
                "default": "mp4",
                "description": "Output container. Audio is always re-encoded to the container's native codec - AAC for mp4/mkv, Opus for webm - never copied from the source. mp4 output is written with faststart so playback can begin before the file fully downloads."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_color": {
        "description": "Input envelope for the \"color\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "color",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "color",
            "description": "Color-grade the clip: brightness, contrast, saturation, and gamma. Video and audio are always re-encoded (audio becomes AAC for mp4/mkv or Opus for webm); nothing is stream-copied, and an all-default call is an identity grade that still re-encodes without visibly changing the picture. Runs on the cpu tier only: a request on the gpu tier is rejected before billing.",
            "type": "object",
            "properties": {
              "brightness": {
                "type": "number",
                "minimum": -1,
                "maximum": 1,
                "default": 0,
                "description": "Additive luma offset; 0 = unchanged."
              },
              "contrast": {
                "type": "number",
                "minimum": 0,
                "maximum": 2,
                "default": 1,
                "description": "Contrast multiplier; 1 = unchanged, 0 = flat gray."
              },
              "saturation": {
                "type": "number",
                "minimum": 0,
                "maximum": 3,
                "default": 1,
                "description": "Chroma saturation; 1 = unchanged, 0 = grayscale."
              },
              "gamma": {
                "type": "number",
                "minimum": 0.1,
                "maximum": 10,
                "default": 1,
                "description": "Gamma curve; 1 = unchanged. Must be > 0 (schema min 0.1)."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "webm",
                  "mkv"
                ],
                "default": "mp4",
                "description": "Output container: mp4 (default), webm or mkv; video is re-encoded to the container's default codec (H.264 for mp4/mkv, VP9 for webm) and audio to AAC for mp4/mkv or Opus for webm."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_concat": {
        "description": "Input envelope for the \"concat\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "concat",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "concat",
            "description": "Join the inputs end to end into one re-encoded file. Every input is first normalized to the width x height canvas: scaled to fit with aspect preserved, then padded with centered black bars to exactly width x height; audio is resampled to 44.1 kHz stereo. Inputs of different sizes and formats join cleanly, and none is cropped or stretched. Every input must contain both a video and an audio stream; a job where any input lacks either is rejected before billing.",
            "type": "object",
            "properties": {
              "inputs": {
                "type": "integer",
                "minimum": 2,
                "maximum": 10,
                "default": 2,
                "description": "Number of inputs to join; supply exactly this many input_urls."
              },
              "width": {
                "type": "integer",
                "minimum": 16,
                "default": 1280,
                "description": "Output canvas width in pixels (default 1280). Every input is scaled to fit and padded with centered black bars to exactly width x height, so the output is always exactly this size regardless of input sizes. On the gpu tier a canvas wider or taller than 4096 pixels is rejected before billing (GPU H.264 encoder ceiling)."
              },
              "height": {
                "type": "integer",
                "minimum": 16,
                "default": 720,
                "description": "Output canvas height in pixels (default 720). Every input is scaled to fit and padded with centered black bars to exactly width x height, so the output is always exactly this size regardless of input sizes. On the gpu tier a canvas wider or taller than 4096 pixels is rejected before billing (GPU H.264 encoder ceiling)."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "webm",
                  "mkv"
                ],
                "default": "mp4",
                "description": "Output container (default mp4): no video or audio codec is pinned on the cpu tier, so ffmpeg's per-container default encoders apply (H.264 video for mp4/mkv, VP9 for webm, and the muxer's default audio encoder); on the gpu tier video is instead forced to the GPU H.264 encoder and webm is rejected before billing (no GPU webm encoder); mp4 output is written with the faststart flag so it progressive-plays."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_concat_copy": {
        "description": "Input envelope for the \"concat_copy\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "concat_copy",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "concat_copy",
            "description": "Rejoin already-encoded chunks of one video into a single mp4 (default), mkv or ts file via the concat demuxer with -c copy: video and audio are copied byte for byte, never re-encoded, so codecs, resolution and quality are preserved exactly, and since no encoder runs the capability is accepted on every tier. Supply the chunks in play order via input_urls (2-50, set by inputs); all chunks must match on video codec, width, height and pixel format and on audio codec, sample rate and channel count, and must agree on whether an audio stream is present - any mismatch is rejected before billing. An mp4 output additionally gets a faststart moov relocation so it can start playing before the file fully downloads; to join dissimilar inputs use concat instead, which normalizes and re-encodes.",
            "type": "object",
            "properties": {
              "inputs": {
                "type": "integer",
                "minimum": 2,
                "maximum": 50,
                "default": 2,
                "description": "Number of chunks to rejoin (2-50); supply exactly this many input_urls in play order. All chunks must match exactly on video codec, width, height and pixel format, and on audio codec, sample rate and channel count, and must agree on whether an audio stream is present - any mismatch is rejected before billing, because a byte-copy join of divergent streams produces a corrupt file."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "mkv",
                  "ts"
                ],
                "default": "mp4",
                "description": "Output container: mp4 (default), mkv or ts. Streams are copied byte-for-byte with no re-encode, so the chunks' codecs must be ones the chosen container can carry (for example mp4 carries H.264/H.265 with AAC but cannot carry VP8 from webm chunks) - an incompatible pairing fails at run time."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_crop": {
        "description": "Input envelope for the \"crop\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "crop",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "crop",
            "description": "Cut a width x height rectangle out of the frame; x/y position the rectangle and omitting them centers it. The rectangle is not checked against the source dimensions at submit, so a rectangle that does not fit inside the source fails at execution. Video and audio are always re-encoded (audio becomes AAC for mp4/mkv or Opus for webm); nothing is stream-copied.",
            "type": "object",
            "properties": {
              "width": {
                "type": "integer",
                "minimum": 1,
                "maximum": 8192,
                "default": 640,
                "description": "Crop rectangle width in pixels (default 640). On the gpu tier a rectangle wider or taller than 4096 pixels is rejected before billing (GPU H.264 encoder ceiling); resubmit on the cpu tier."
              },
              "height": {
                "type": "integer",
                "minimum": 1,
                "maximum": 8192,
                "default": 480,
                "description": "Crop rectangle height in pixels (default 480). On the gpu tier a rectangle wider or taller than 4096 pixels is rejected before billing (GPU H.264 encoder ceiling); resubmit on the cpu tier."
              },
              "x": {
                "type": "integer",
                "minimum": 0,
                "maximum": 8192,
                "description": "Left offset; omit to center."
              },
              "y": {
                "type": "integer",
                "minimum": 0,
                "maximum": 8192,
                "description": "Top offset; omit to center."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "webm",
                  "mkv"
                ],
                "default": "mp4",
                "description": "Output container. On the gpu tier webm is rejected before billing (the gpu tier has no webm encoder); resubmit on the cpu tier."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_crossfade": {
        "description": "Input envelope for the \"crossfade\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "crossfade",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "crossfade",
            "description": "Crossfade two clips into one. Supply exactly two inputs in order: the video transition starts offset seconds into the first clip and blends into the second over duration seconds (xfade); the audio is always crossfaded at the junction of the two audio tracks over the same duration (acrossfade ignores offset). With offset omitted it is derived from the probed first input (first duration minus duration) so video and audio cross at the same junction and the output runs first plus second minus duration seconds; when the first input's duration cannot be probed (direct bindings), an omitted offset is rejected before billing - supply offset explicitly. A supplied offset earlier than the junction switches the video to the second clip early while the audio still crosses at the junction, so the audio track outlasts the video track. Both inputs must contain a video AND an audio stream - an input missing either is rejected before billing. The second input's video is scaled (stretched, square pixels) to the probed size of the first input; when that size is unknown the input sizes must already match or the run fails at execution. Both inputs must share a frame rate - mismatched rates fail at execution; container timebases are normalized in-graph, so inputs with identical frame rates but different encoder timescales are safe. A second input shorter than duration truncates the transition. Video and audio are always re-encoded (audio becomes AAC for mp4/mkv or Opus for webm); nothing is stream-copied. Runs on the cpu tier only: a request on the gpu tier is rejected before billing.",
            "type": "object",
            "properties": {
              "transition": {
                "type": "string",
                "enum": [
                  "circleclose",
                  "circleopen",
                  "dissolve",
                  "fade",
                  "fadeblack",
                  "fadewhite",
                  "pixelize",
                  "radial",
                  "slidedown",
                  "slideleft",
                  "slideright",
                  "slideup",
                  "wipedown",
                  "wipeleft",
                  "wiperight",
                  "wipeup"
                ],
                "default": "fade",
                "description": "Which xfade wipe/blend the video transition uses; the audio always uses a plain acrossfade regardless."
              },
              "duration": {
                "type": "number",
                "minimum": 0.1,
                "maximum": 10,
                "default": 1,
                "description": "Transition length in seconds, shared by the video xfade and the audio acrossfade. Must not exceed the first input's probed duration (rejected before billing; unchecked when the duration is unknown)."
              },
              "offset": {
                "type": "number",
                "minimum": 0,
                "maximum": 86400,
                "description": "Seconds into the first input where the video transition starts. Omit for the junction (first input duration minus duration, derived from the probe). offset plus duration must not exceed the first input's probed duration (rejected before billing; unchecked when the duration is unknown). The audio crossfade ignores offset and always sits at the audio junction."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "webm",
                  "mkv"
                ],
                "default": "mp4",
                "description": "Output container (default mp4): it fixes the pinned audio codec (AAC for mp4/mkv, Opus for webm) while video uses the container's cpu default encoder (H.264 for mp4/mkv, VP9 for webm), and mp4 output is written with the faststart flag so it progressive-plays."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_extract_audio": {
        "description": "Input envelope for the \"extract_audio\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "extract_audio",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "extract_audio",
            "description": "Extract the input's audio track to a standalone audio file, dropping the video. The input must contain an audio stream: a video-only input is not rejected up front and fails at execution.",
            "type": "object",
            "properties": {
              "format": {
                "type": "string",
                "enum": [
                  "mp3",
                  "wav",
                  "m4a"
                ],
                "default": "mp3",
                "description": "Output format: mp3 (libmp3lame at the encoder default bitrate; bitrate is not configurable here, use the audio_master capability to choose one), wav (lossless 16-bit PCM; higher-bit-depth or float sources are quantized to 16-bit), m4a (AAC at the encoder default bitrate). mp3 supports at most 48000 Hz, so a higher-rate source is resampled down even when sample_rate is omitted."
              },
              "sample_rate": {
                "type": "integer",
                "minimum": 8000,
                "maximum": 48000,
                "description": "Resample the audio to this rate in Hz (STT models want a fixed rate, e.g. 16000). Omit to keep the source rate."
              },
              "mono": {
                "type": "boolean",
                "default": false,
                "description": "Downmix to a single channel (STT models expect mono). Omit/false keeps the source channel layout."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_fade": {
        "description": "Input envelope for the \"fade\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "fade",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "fade",
            "description": "Fade the clip in and/or out. The same fade is applied to the audio track with identical timings; a video-only input still succeeds (the audio fade is skipped). Video and audio are always re-encoded (audio becomes AAC for mp4/mkv or Opus for webm); nothing is stream-copied. Runs on the cpu tier only: a request on the gpu tier is rejected before billing.",
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "in",
                  "out",
                  "both"
                ],
                "default": "in",
                "description": "Which fades to apply. Default in: a bare fade is a 1s fade-in (st=0). out and both REQUIRE fade_out_start (static argv cannot derive the clip duration)."
              },
              "fade_in_duration": {
                "type": "number",
                "exclusiveMinimum": 0,
                "maximum": 3600,
                "default": 1.0,
                "description": "Fade-in length in seconds (from t=0); must be > 0 (ffmpeg treats 0 as unset and substitutes ~1s). Validated whenever supplied; applied only when type is in or both."
              },
              "fade_out_duration": {
                "type": "number",
                "exclusiveMinimum": 0,
                "maximum": 3600,
                "default": 1.0,
                "description": "Fade-out length in seconds; must be > 0 (ffmpeg treats 0 as unset and substitutes ~1s). Validated whenever supplied; applied only when type is out or both."
              },
              "fade_out_start": {
                "type": "number",
                "minimum": 0,
                "maximum": 86400,
                "description": "Timestamp (seconds) the fade-out begins. REQUIRED when type is out or both; validated whenever supplied, applied only for those types. A value at or after the probed source duration is rejected before billing (the fade never fires); it fails open when the duration is unknown (direct-bindings / no probe)."
              },
              "container": {
                "type": "string",
                "enum": [
                  "mp4",
                  "webm",
                  "mkv"
                ],
                "default": "mp4",
                "description": "Output container (default mp4): it fixes the pinned audio codec (AAC for mp4/mkv, Opus for webm) while video uses the container's cpu default encoder (H.264 for mp4/mkv, VP9 for webm), and mp4 output is written with the faststart flag so it progressive-plays."
              }
            },
            "if": {
              "required": [
                "type"
              ],
              "properties": {
                "type": {
                  "enum": [
                    "out",
                    "both"
                  ]
                }
              }
            },
            "then": {
              "required": [
                "fade_out_start"
              ]
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_gif": {
        "description": "Input envelope for the \"gif\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "gif",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "gif",
            "description": "Convert the ENTIRE input to an animated GIF: there is no start or duration control, so cut the clip first with trim if only a portion is wanted; the whole input is re-encoded and a long video produces a very large file. The output is silent and uses ffmpeg's standard 256-color palette (single pass, not per-video optimized).",
            "type": "object",
            "properties": {
              "fps": {
                "type": "integer",
                "minimum": 1,
                "maximum": 50,
                "default": 10,
                "description": "Output GIF frame rate in frames per second (default 10): the whole clip is resampled to exactly this constant rate regardless of the source frame rate, and a value outside 1-50 is rejected rather than clamped."
              },
              "width": {
                "type": "integer",
                "minimum": 1,
                "default": 480,
                "description": "Output width in pixels; the height is derived automatically to preserve the source aspect ratio and cannot be set."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_hls_ladder": {
        "description": "Input envelope for the \"hls_ladder\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly ({} accepts every default) — required fields inside it are enforced at submit as invalid_command.",
        "properties": {
          "capability": {
            "const": "hls_ladder",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "hls_ladder",
            "description": "Encode a multi-rendition adaptive-bitrate HLS ladder (master.m3u8 + N variant playlists/segments) in one ffmpeg pass. Re-encodes each rung, so any source codec is accepted; the input must carry both a video and an audio stream. Audio is always re-encoded to AAC (one audio track per variant) - the source audio codec is never preserved. The result is a bundle: master.m3u8 is the entrypoint, delivered alongside the per-variant playlists (stream_0.m3u8, stream_1.m3u8, and so on) and their MPEG-TS segments as separate artifact URLs, with a VOD playlist type. Give an explicit renditions list OR a ladder preset (not both); omit both for a default 3-rung 720p ladder. Upscaling above the source is NOT rejected, so choose rungs at or below the source height; source dimensions ARE probed and any rung whose derived width exceeds the GPU h264_nvenc 4096 ceiling is rejected before billing.",
            "type": "object",
            "properties": {
              "renditions": {
                "type": "array",
                "minItems": 1,
                "maxItems": 6,
                "description": "Explicit rungs. Width is derived from the source aspect, even-rounded. Reject duplicate heights. Mutually exclusive with ladder.",
                "items": {
                  "type": "object",
                  "properties": {
                    "height": {
                      "type": "integer",
                      "enum": [
                        144,
                        240,
                        360,
                        480,
                        720,
                        1080,
                        1440,
                        2160
                      ],
                      "description": "Rendition height in px. Width is derived from the source aspect (even-rounded)."
                    },
                    "bitrate_kbps": {
                      "type": "integer",
                      "minimum": 100,
                      "maximum": 50000,
                      "description": "Target video bitrate in kbps."
                    }
                  },
                  "required": [
                    "height",
                    "bitrate_kbps"
                  ],
                  "additionalProperties": false
                }
              },
              "ladder": {
                "type": "string",
                "enum": [
                  "240p",
                  "360p",
                  "480p",
                  "720p",
                  "1080p"
                ],
                "description": "Preset rung set (height at kbps): 240p = 240@600; 360p = 360@1000, 240@600; 480p = 480@1500, 360@1000, 240@600; 720p = 720@3000, 480@1500, 360@1000; 1080p = 1080@5000, 720@3000, 480@1500. Omitting both ladder and renditions uses the 720p set. Presets are NOT clipped to the source height - rungs above the source will upscale. Mutually exclusive with renditions."
              },
              "segment_duration": {
                "type": "integer",
                "minimum": 1,
                "maximum": 30,
                "default": 4,
                "description": "Target segment length in seconds. Segment boundaries fall on encoder keyframes and no fixed keyframe interval is forced, so actual segments may be longer than this target (up to the encoder default keyframe spacing)."
              }
            },
            "additionalProperties": false
          },
          "tier": {
            "default": "cpu",
            "description": "Compute tier (pricing/hardware class). gpu is a beta tier with limited capacity.",
            "enum": [
              "cpu",
              "gpu"
            ],
            "type": "string"
          }
        },
        "required": [
          "capability",
          "params"
        ],
        "type": "object"
      },
      "CapabilityInput_keep_ranges": {
        "description": "Input envelope for the \"keep_ranges\" capability. The params schema below is the complete, canonical contract for this capability; send params explicitly (this capability has required params) — required fields inside it are enforced at submit as invalid_command. Also accepted as \"silence_remove\" — one capability, one billing bucket.",
        "properties": {
          "capability": {
            "const": "keep_ranges",
            "type": "string"
          },
          "input_url": {
            "description": "One input media URL: a publicly downloadable https URL pointing directly at a media file identified by its path extension (video .mp4 .webm .mov .avi .mkv .flv; audio .mp3 .wav .ogg .flac .m4a .aac .opus .wma; image .png .jpg .jpeg .gif .webp .bmp .tiff; subtitle .vtt .srt .ass; color LUT .cube), an eachlabs CDN/storage URL (staged directly), or a raw s3:// URI the engine can read. A URL with no path extension may declare its type with a mime_type= query parameter, underscore-encoded — first '_' becomes '/', later '_' becomes '-' (mime_type=video_mp4 is video/mp4; any video/*, audio/*, or image/* type is accepted); the parameter cannot override an unrecognized extension. A URL that cannot be staged is rejected before billing at $0 with error_code PROVIDER_REJECTED. A capability that requires media submitted with no input_url/input_urls at all is rejected at submit (placeholder_unbound, $0).",
            "format": "uri",
            "type": "string"
          },
          "input_urls": {
            "description": "Ordered list of input media URLs for multi-input jobs; same staging rules as input_url. Capabilities consume them in order; run_ffmpeg binds one URL as {input} and N URLs as {input0}, {input1}, … in array order.",
            "items": {
              "format": "uri",
              "type": "string"
            },
            "type": "array"
          },
          "mode": {
            "const": "capability",
            "default": "capability",
            "description": "Optional for capability jobs; \"capability\" is the default mode.",
            "type": "string"
          },
          "params": {
            "$schema": "https://json-schema.org/draft/2020-12/schema",
            "title": "silence_remove",
            "description": "Keep only the listed time ranges and join them into one continuous file in a single pass. Frame-accurate: the full source is re-encoded (video to the container's codec, audio to AAC for mp4/mkv or Opus for webm), so it is slower than a stream-copy trim but cuts exactly where asked. Also exposed under the name keep_ranges - identical behavior and billing.",
            "type": "object",
            "properties": {
              "ranges": {
                "type": "array",
                "minItems": 1,
                "maxItems": 100,
[...]
