{
  "openapi": "3.0.3",
  "info": {
    "title": "Workflows Engine API",
    "description": "# Workflows Engine API\n\nExecute and monitor AI workflows with a simple, consistent API.\n\n## Quick Start\n\n1. **Manage workflows** - create or update a version with `PUT /workflows/{workflowID}/versions/{versionID}`\n2. **Trigger a public workflow** - POST to `/public/@{nickname}/workflows/{slug}/versions/{versionID}/trigger` with your inputs\n3. **Optional**: Provide a `webhook_url` to receive automatic notifications when complete\n\n---\n\n## Webhook Notifications\n\nWhen you provide a `webhook_url` when triggering a workflow, the Workflows Engine will automatically \n**POST** to your endpoint with the execution results when the workflow completes (successfully or with an error).\n\n### Key Features\n\n- ✅ **Consistent Payload**: The webhook payload has the same structure as the execution detail response (`GET https://api.eachlabs.ai/v1/workflows/executions/{executionID}`)\n- ✅ **Automatic Retries**: Failed webhook deliveries are automatically retried with exponential backoff\n- ✅ **Simple Integration**: No authentication required - your endpoint just needs to accept POST requests\n\n### Webhook Request\n\nThe engine will POST to your `webhook_url` with:\n\n- **Method**: `POST`\n- **Content-Type**: `application/json`\n- **Body**: Execution details (see payload structure below)\n\n### Example Webhook Payload\n\n```json\n{\n  \"execution_id\": \"69ae8c7b-7500-4a45-b7c0-348b8cc2665b\",\n  \"workflow_id\": \"50741f40-8621-4d46-8a91-dff4d873be98\",\n  \"status\": \"completed\",\n  \"started_at\": \"2025-12-04T11:48:10Z\",\n  \"inputs\": {\n    \"story\": \"tell an epic story of a rat graduating from law\"\n  },\n  \"step_outputs\": {\n    \"step1\": {\n      \"step_id\": \"step1\",\n      \"status\": \"completed\",\n      \"output\": \"Once upon a time in Ratropolis...\",\n      \"primary\": \"Once upon a time in Ratropolis...\",\n      \"metadata\": {\n        \"model\": \"openai-chatgpt-5\",\n        \"version\": \"0.0.1\",\n        \"params\": {\n          \"system_prompt\": \"You are a helpful assistant\",\n          \"max_output_tokens\": 512\n        }\n      }\n    },\n    \"step2\": {\n      \"step_id\": \"step2\",\n      \"status\": \"completed\",\n      \"output\": [\n        \"https://storage.googleapis.com/uploads/image1.png\",\n        \"https://storage.googleapis.com/uploads/image2.png\"\n      ],\n      \"primary\": \"https://storage.googleapis.com/uploads/image1.png\",\n      \"metadata\": {\n        \"model\": \"nano-banana-pro\",\n        \"params\": {\n          \"num_images\": 2,\n          \"aspect_ratio\": \"16:9\"\n        }\n      }\n    }\n  },\n  \"output\": [\n    \"https://storage.googleapis.com/uploads/image1.png\",\n    \"https://storage.googleapis.com/uploads/image2.png\"\n  ]\n}\n```\n\n### Example Webhook Handler\n\n```python\n@app.post(\"/webhooks/workflow-completed\")\nasync def handle_workflow_webhook(request: Request):\n    execution = await request.json()\n    \n    if execution[\"status\"] == \"completed\":\n        # Process successful execution\n        final_output = execution[\"output\"]\n        step_details = execution[\"step_outputs\"]\n        print(f\"Workflow completed: {final_output}\")\n        \n    elif execution[\"status\"] == \"failed\":\n        # Handle failure\n        error = execution.get(\"error_cause\", \"Unknown error\")\n        print(f\"Workflow failed: {error}\")\n    \n    return {\"received\": True}\n```\n\nYour webhook endpoint should return a `200 OK` status to acknowledge receipt.\n\n---\n\n## Fallback Configuration\n\nModel steps support an optional **fallback configuration** that automatically retries with an alternative \nmodel if the primary model invocation fails. This provides resilience against temporary model outages \nor rate limits.\n\n### How Fallback Works\n\nWhen a model step has fallback configured, the workflow engine will:\n\n1. **Execute the primary model** with its configured parameters\n2. **If the primary attempt fails**, automatically execute the fallback model configuration\n3. **Mark the step as failed only if both primary and fallback attempts fail**\n\n### Fallback Configuration\n\nAdd a `fallback` object to any model step in your workflow definition:\n\n```json\n{\n  \"step_id\": \"generate_image\",\n  \"type\": \"model\",\n  \"model\": \"flux-dev\",\n  \"params\": {\n    \"prompt\": \"{{inputs.prompt}}\",\n    \"num_images\": 1\n  },\n  \"fallback\": {\n    \"enabled\": true,\n    \"model\": \"flux-1-1-pro\",\n    \"params\": {\n      \"prompt\": \"{{inputs.prompt}}\",\n      \"guidance_scale\": 7.5\n    }\n  }\n}\n```\n\n### Fallback Properties\n\n| Property | Type | Description |\n|----------|------|-------------|\n| `enabled` | boolean | Enable or disable fallback for this step (default: `true`) |\n| `model` | string | Alternative AI model identifier to use on failure |\n| `version` | string | Fallback model version (defaults to primary version when omitted) |\n| `params` | object | Model-specific parameters for the fallback (supports template variables) |\n\n### Detecting Fallback Usage\n\nWhen a fallback is used, the step's metadata in execution results will include:\n\n- `fallback_used: true` - Indicates the step completed using the fallback configuration\n- `primary_error` - Human-readable description of why the primary attempt failed\n\n### Example Execution Response with Fallback\n\n```json\n{\n  \"step_id\": \"generate_image\",\n  \"status\": \"completed\",\n  \"output\": \"https://storage.googleapis.com/uploads/image.png\",\n  \"metadata\": {\n    \"model\": \"flux-1-1-pro\",\n    \"fallback_used\": true,\n    \"primary_error\": \"Primary model flux-dev failed: rate limit exceeded\"\n  }\n}\n```\n\n---\n\n## Unlisted Workflows\n\nVersions can be \"unlisted\" - accessible via direct link but hidden from public listings.\n\n**Visibility states:**\n- **Private** (default): Organization only\n- **Unlisted**: Accessible via link, hidden from public listings\n- **Public**: Visible in listings and accessible to everyone\n\n**Setting unlisted:** Use `allowed_to_share: true` when creating or updating a version.\n\n```bash\n# Create unlisted version\nPUT /workflows/{workflowID}/versions/v1 { \"allowed_to_share\": true, ... }\n```\n\n**Behavior:**\n- `allowed_to_share: true` → Creates/updates as unlisted\n- `allowed_to_share: false` → Creates/updates as private\n- No effect on public versions (never downgraded)\n",
    "version": "1.0.0",
    "x-logo": {
      "url": "./logo-white.svg",
      "altText": "Eachlabs Logo"
    }
  },
  "servers": [
    {
      "url": "https://workflows.eachlabs.run/api/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Categories",
      "description": "Workflow categories for organization"
    },
    {
      "name": "Workflows",
      "description": "Workflow and version management"
    },
    {
      "name": "Public Workflows",
      "description": "Access public and unlisted workflows by organization nickname"
    }
  ],
  "paths": {
    "/categories": {
      "get": {
        "tags": [
          "Categories"
        ],
        "summary": "List categories",
        "description": "Retrieve all available workflow categories.\n\nCategories help organize workflows into logical collections.\nUse the category slugs when creating or updating workflows.\n",
        "operationId": "listCategories",
        "responses": {
          "200": {
            "description": "Categories retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/workflows/{workflowID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkflowID"
        }
      ],
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get workflow details",
        "description": "Retrieve detailed information about a workflow including all its versions.\n\nYou can specify either the workflow UUID or slug as the workflowID parameter.\n",
        "operationId": "getWorkflow",
        "responses": {
          "200": {
            "description": "Workflow details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Workflows"
        ],
        "summary": "Update workflow",
        "description": "Update workflow metadata such as name, description, categories, and visibility.\n\nNote: To update the workflow definition (steps), use the version endpoints instead.\nLocked workflows cannot be modified unless you're unlocking them.\n",
        "operationId": "updateWorkflow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/workflows/{workflowID}/versions/{versionID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkflowID"
        },
        {
          "name": "versionID",
          "in": "path",
          "required": true,
          "description": "Version identifier (e.g., \"v1\", \"v2\")",
          "schema": {
            "type": "string",
            "example": "v1"
          }
        }
      ],
      "put": {
        "tags": [
          "Workflows"
        ],
        "summary": "Create or update workflow version",
        "description": "Create a new workflow version or update an existing one.\n\nThis operation will:\n- Create/update the version in the database\n- Generate or update the AWS Step Functions state machine\n- Set this version as the latest version for the workflow\n\n**Important**: Once a version is locked, it cannot be modified.\n",
        "operationId": "upsertWorkflowVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertVersionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow version created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowVersionSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/public/@{nickname}/workflows/{slug}/versions/{versionID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Nickname"
        },
        {
          "$ref": "#/components/parameters/Slug"
        },
        {
          "$ref": "#/components/parameters/VersionID"
        }
      ],
      "get": {
        "tags": [
          "Public Workflows"
        ],
        "summary": "Get public workflow version",
        "description": "Retrieve a specific version of a public or unlisted workflow by organization nickname.\n\n**No authentication required** for unlisted workflows.\n\nExample:\n```\nGET /api/v1/public/@acme-corp/workflows/my-generator/versions/v1\n```\n",
        "operationId": "getPublicWorkflowVersionByNickname",
        "responses": {
          "200": {
            "description": "Workflow version details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowVersionSummary"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": []
      }
    },
    "/public/@{nickname}/workflows/{slug}/versions/{versionID}/trigger": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Nickname"
        },
        {
          "$ref": "#/components/parameters/Slug"
        },
        {
          "$ref": "#/components/parameters/VersionID"
        }
      ],
      "post": {
        "tags": [
          "Public Workflows"
        ],
        "summary": "Trigger public workflow version",
        "description": "Trigger a public or unlisted workflow using the organization nickname, workflow slug, and version.\n\n**Authentication required** - provide your API key as `api_key` in the request body.\n\nExample:\n```\nPOST /api/v1/public/@acme-corp/workflows/my-generator/versions/v1/trigger\nBody: { \"api_key\": \"your-api-key\", \"inputs\": { \"prompt\": \"...\" } }\n```\n",
        "operationId": "triggerPublicWorkflowVersionByNickname",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow execution started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as `Authorization: Bearer <api_key>`"
      }
    },
    "parameters": {
      "WorkflowID": {
        "name": "workflowID",
        "in": "path",
        "required": true,
        "description": "Unique workflow identifier",
        "schema": {
          "type": "string",
          "example": "wf_abc123"
        }
      },
      "Nickname": {
        "name": "nickname",
        "in": "path",
        "required": true,
        "description": "Organization nickname (without @ prefix)",
        "schema": {
          "type": "string",
          "example": "acme-corp"
        }
      },
      "Slug": {
        "name": "slug",
        "in": "path",
        "required": true,
        "description": "Workflow slug",
        "schema": {
          "type": "string",
          "example": "my-image-generator"
        }
      },
      "VersionID": {
        "name": "versionID",
        "in": "path",
        "required": true,
        "description": "Version identifier",
        "schema": {
          "type": "string",
          "example": "v1"
        }
      }
    },
    "schemas": {
      "CategoriesResponse": {
        "type": "object",
        "required": [
          "categories"
        ],
        "properties": {
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            },
            "description": "List of available workflow categories"
          }
        },
        "example": {
          "categories": [
            {
              "slug": "image-generation",
              "label": "Image Generation",
              "description": "Workflows for generating images",
              "is_default": true,
              "created_at": "2025-12-01T10:00:00Z",
              "updated_at": "2025-12-01T10:00:00Z"
            },
            {
              "slug": "text-processing",
              "label": "Text Processing",
              "description": "Workflows for processing text",
              "is_default": true,
              "created_at": "2025-12-01T10:00:00Z",
              "updated_at": "2025-12-01T10:00:00Z"
            }
          ]
        }
      },
      "Category": {
        "type": "object",
        "required": [
          "slug",
          "label"
        ],
        "properties": {
          "slug": {
            "type": "string",
            "description": "Unique category identifier (used in API requests)",
            "example": "image-generation"
          },
          "label": {
            "type": "string",
            "description": "Human-readable category name",
            "example": "Image Generation"
          },
          "description": {
            "type": "string",
            "description": "Category description",
            "example": "Workflows for generating images"
          },
          "is_default": {
            "type": "boolean",
            "description": "Whether this is a default system category",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when category was created",
            "example": "2025-12-01T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when category was last updated",
            "example": "2025-12-01T10:00:00Z"
          }
        }
      },
      "UpdateWorkflowRequest": {
        "type": "object",
        "description": "Update workflow metadata. All fields are optional - only provided fields will be updated.\n\nNote: To update the workflow definition (steps), use the version endpoints instead.\n",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable workflow name",
            "example": "Text to Image Generator v2"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of what the workflow does",
            "example": "Enhanced image generation with multiple models"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of category slugs",
            "example": [
              "image-generation",
              "ai",
              "production"
            ]
          },
          "locked": {
            "type": "boolean",
            "description": "Lock/unlock the workflow from modifications"
          },
          "production": {
            "type": "boolean",
            "description": "Mark as production workflow"
          }
        }
      },
      "UpsertVersionRequest": {
        "type": "object",
        "required": [
          "version_id",
          "definition"
        ],
        "properties": {
          "version_id": {
            "type": "string",
            "description": "Version identifier (e.g., \"v1\", \"v2\", \"v1.1\")",
            "example": "v2"
          },
          "definition": {
            "type": "object",
            "description": "The complete workflow definition for this version.\nThis follows the workflow DSL format and must include all steps.\n",
            "properties": {
              "version": {
                "type": "string",
                "description": "Version identifier (should match version_id)",
                "example": "v2"
              },
              "steps": {
                "type": "array",
                "description": "Array of step definitions",
                "items": {
                  "type": "object"
                },
                "example": [
                  {
                    "step_id": "generate_text",
                    "type": "model",
                    "model": "openai-chatgpt-5",
                    "params": {
                      "system_prompt": "You are a helpful assistant",
                      "user_prompt": "{{inputs.prompt}}"
                    }
                  },
                  {
                    "step_id": "generate_image",
                    "type": "model",
                    "model": "flux-dev",
                    "params": {
                      "prompt": "{{generate_text.output}}",
                      "num_images": 2
                    },
                    "fallback": {
                      "enabled": true,
                      "model": "flux-1-1-pro",
                      "params": {
                        "prompt": "{{generate_text.output}}",
                        "guidance_scale": 7.5
                      }
                    }
                  }
                ]
              },
              "input_schema": {
                "type": "object",
                "description": "JSON Schema for validating workflow inputs"
              },
              "metadata": {
                "type": "object",
                "description": "Additional workflow metadata including output mappings"
              }
            }
          },
          "locked": {
            "type": "boolean",
            "description": "Whether to lock this version from further modifications",
            "default": false
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production version",
            "default": false
          },
          "allowed_to_share": {
            "type": "boolean",
            "description": "Toggle unlisted sharing for this version.\n\n- `true` → Makes version \"unlisted\" (accessible via link, hidden from public listings)\n- `false` → Makes version \"private\" (organization only)\n- No effect on public versions\n- New versions default to private when omitted\n",
            "default": false
          }
        }
      },
      "WorkflowDetail": {
        "type": "object",
        "description": "Complete workflow information including all versions",
        "required": [
          "workflow_id",
          "name",
          "description"
        ],
        "properties": {
          "workflow_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique workflow identifier",
            "example": "50741f40-8621-4d46-8a91-dff4d873be98"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly workflow identifier",
            "example": "text-to-image-generator"
          },
          "name": {
            "type": "string",
            "description": "Human-readable workflow name",
            "example": "Text to Image Generator"
          },
          "description": {
            "type": "string",
            "description": "Workflow description",
            "example": "Generates images from text prompts"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Category slugs",
            "example": [
              "image-generation",
              "ai"
            ]
          },
          "locked": {
            "type": "boolean",
            "description": "Whether workflow is locked",
            "example": false
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production workflow",
            "example": false
          },
          "latest_version_id": {
            "type": "string",
            "description": "Most recently updated version ID",
            "example": "v2"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived",
              "deleted"
            ],
            "description": "Workflow lifecycle status",
            "example": "active"
          },
          "trigger_count": {
            "type": "integer",
            "description": "Total number of times this workflow has been triggered",
            "example": 42
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when workflow was created",
            "example": "2025-12-01T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when workflow was last updated",
            "example": "2025-12-07T15:30:00Z"
          },
          "versions": {
            "type": "array",
            "description": "List of all versions for this workflow",
            "items": {
              "$ref": "#/components/schemas/WorkflowVersionSummary"
            }
          }
        }
      },
      "WorkflowVersionSummary": {
        "type": "object",
        "description": "Summary information about a workflow version",
        "required": [
          "version_id",
          "slug"
        ],
        "properties": {
          "version_id": {
            "type": "string",
            "description": "Version identifier",
            "example": "v1"
          },
          "slug": {
            "type": "string",
            "description": "Workflow slug (inherited from parent workflow)",
            "example": "text-to-image-generator"
          },
          "locked": {
            "type": "boolean",
            "description": "Whether this version is locked from modifications",
            "example": false
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production version",
            "example": true
          },
          "allowed_to_share": {
            "type": "boolean",
            "description": "True if version is unlisted (accessible via direct link but hidden from public listings).",
            "example": false
          },
          "trigger_count": {
            "type": "integer",
            "description": "Number of times this specific version has been triggered",
            "example": 15
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when version was created",
            "example": "2025-12-01T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when version was last updated",
            "example": "2025-12-05T14:20:00Z"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived",
              "deleted"
            ],
            "description": "Version lifecycle status",
            "example": "active"
          },
          "definition": {
            "type": "object",
            "description": "The complete workflow definition (only included in detail responses).\nContains steps, input schema, and metadata.\n"
          }
        }
      },
      "TriggerWorkflowRequest": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your eachlabs API key. The public trigger authenticates via this body field instead of an `Authorization` header.",
            "example": "your-api-key"
          },
          "version_id": {
            "type": "string",
            "description": "**Optional**: Specific version to trigger.\n\nIf not provided, triggers the latest version of the workflow.\nThis allows you to execute specific versions for testing or comparison.\n",
            "example": "v1"
          },
          "inputs": {
            "type": "object",
            "description": "Input parameters defined in the workflow definition for the workflow",
            "example": {
              "text": "tell me a story"
            }
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "**Optional webhook URL for execution completion notifications.**\n\nWhen provided, the engine will POST an `ExecutionDetails` payload to this URL\nwhen the workflow finishes (either successfully or with an error).\n\nSee the **Webhooks** section for detailed information about webhook behavior and payload structure.\n",
            "example": "https://your-api.com/webhooks/workflow-completed"
          }
        },
        "required": [
          "api_key"
        ]
      },
      "ExecutionResponse": {
        "type": "object",
        "description": "Response from triggering a workflow execution",
        "properties": {
          "execution_id": {
            "type": "string",
            "description": "Unique execution identifier (only present for successful triggers)",
            "example": "exec_xyz789"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "failed"
            ],
            "description": "Execution status immediately after triggering.\n- `queued`: Workflow execution has been queued and will start shortly\n- `failed`: Trigger failed due to validation or system error\n",
            "example": "queued"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when the execution was queued (only present for successful triggers)"
          },
          "message": {
            "type": "string",
            "description": "Error message (only present when status is \"failed\")",
            "example": "invalid input: missing required field"
          }
        },
        "example": {
          "execution_id": "e2dba2bb-bc1d-4651-b6bf-fbbbebdee104",
          "status": "queued",
          "started_at": "2025-12-03T10:21:09Z"
        }
      },
      "FallbackConfig": {
        "type": "object",
        "description": "Fallback configuration for model steps. When configured, the workflow engine will \nautomatically retry with the fallback model if the primary model invocation fails.\n",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": true,
            "description": "Enable or disable fallback for this step",
            "example": true
          },
          "model": {
            "type": "string",
            "description": "Fallback AI model identifier to use if the primary model fails.\nShould be compatible with the expected output format.\n",
            "example": "flux-1-1-pro"
          },
          "version": {
            "type": "string",
            "description": "Fallback model version. When omitted, defaults to the primary model's version.\n",
            "example": "1.0.0"
          },
          "params": {
            "type": "object",
            "description": "Fallback-specific model parameters. Supports template variables like `{{inputs.prompt}}`\nand `{{step_id.output}}` for referencing workflow inputs and previous step outputs.\n",
            "additionalProperties": true,
            "example": {
              "prompt": "{{inputs.prompt}}",
              "guidance_scale": 7.5
            }
          }
        },
        "example": {
          "enabled": true,
          "model": "flux-1-1-pro",
          "params": {
            "prompt": "{{inputs.prompt}}",
            "guidance_scale": 7.5
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - Invalid input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - Operation not allowed (e.g., workflow is locked)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found - Resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
