{
  "openapi": "3.0.3",
  "info": {
    "title": "Workflows Engine API",
    "description": "# Workflows Engine API\n\nExecute and monitor AI workflows with a simple, consistent API.\n\n## Quick Start\n\n1. **Manage workflows** - create or update a version with `PUT /workflows/{workflowID}/versions/{versionID}`\n2. **Trigger a public workflow** - POST to `/public/@{nickname}/workflows/{slug}/versions/{versionID}/trigger` with your inputs\n3. **Optional**: Provide a `webhook_url` to receive automatic notifications when complete\n\n---\n\n## Webhook Notifications\n\nWhen you provide a `webhook_url` when triggering a workflow, the Workflows Engine will automatically \n**POST** to your endpoint with the execution results when the workflow completes (successfully or with an error).\n\n### Key Features\n\n- ✅ **Consistent Payload**: The webhook payload has the same structure as the execution detail response (`GET https://api.eachlabs.ai/v1/workflows/executions/{executionID}`)\n- ✅ **Automatic Retries**: Failed webhook deliveries are automatically retried with exponential backoff\n- ✅ **Simple Integration**: No authentication required - your endpoint just needs to accept POST requests\n\n### Webhook Request\n\nThe engine will POST to your `webhook_url` with:\n\n- **Method**: `POST`\n- **Content-Type**: `application/json`\n- **Body**: Execution details (see payload structure below)\n\n### Example Webhook Payload\n\n```json\n{\n  \"execution_id\": \"69ae8c7b-7500-4a45-b7c0-348b8cc2665b\",\n  \"workflow_id\": \"50741f40-8621-4d46-8a91-dff4d873be98\",\n  \"status\": \"completed\",\n  \"started_at\": \"2025-12-04T11:48:10Z\",\n  \"inputs\": {\n    \"story\": \"tell an epic story of a rat graduating from law\"\n  },\n  \"step_outputs\": {\n    \"step1\": {\n      \"step_id\": \"step1\",\n      \"status\": \"completed\",\n      \"output\": \"Once upon a time in Ratropolis...\",\n      \"primary\": \"Once upon a time in Ratropolis...\",\n      \"metadata\": {\n        \"model\": \"openai-chatgpt-5\",\n        \"version\": \"0.0.1\",\n        \"params\": {\n          \"system_prompt\": \"You are a helpful assistant\",\n          \"max_output_tokens\": 512\n        }\n      }\n    },\n    \"step2\": {\n      \"step_id\": \"step2\",\n      \"status\": \"completed\",\n      \"output\": [\n        \"https://storage.googleapis.com/uploads/image1.png\",\n        \"https://storage.googleapis.com/uploads/image2.png\"\n      ],\n      \"primary\": \"https://storage.googleapis.com/uploads/image1.png\",\n      \"metadata\": {\n        \"model\": \"nano-banana-pro\",\n        \"params\": {\n          \"num_images\": 2,\n          \"aspect_ratio\": \"16:9\"\n        }\n      }\n    }\n  },\n  \"output\": [\n    \"https://storage.googleapis.com/uploads/image1.png\",\n    \"https://storage.googleapis.com/uploads/image2.png\"\n  ]\n}\n```\n\n### Example Webhook Handler\n\n```python\n@app.post(\"/webhooks/workflow-completed\")\nasync def handle_workflow_webhook(request: Request):\n    execution = await request.json()\n    \n    if execution[\"status\"] == \"completed\":\n        # Process successful execution\n        final_output = execution[\"output\"]\n        step_details = execution[\"step_outputs\"]\n        print(f\"Workflow completed: {final_output}\")\n        \n    elif execution[\"status\"] == \"failed\":\n        # Handle failure\n        error = execution.get(\"error_cause\", \"Unknown error\")\n        print(f\"Workflow failed: {error}\")\n    \n    return {\"received\": True}\n```\n\nYour webhook endpoint should return a `200 OK` status to acknowledge receipt.\n\n---\n\n## Fallback Configuration\n\nModel steps support an optional **fallback configuration** that automatically retries with an alternative \nmodel if the primary model invocation fails. This provides resilience against temporary model outages \nor rate limits.\n\n### How Fallback Works\n\nWhen a model step has fallback configured, the workflow engine will:\n\n1. **Execute the primary model** with its configured parameters\n2. **If the primary attempt fails**, automatically execute the fallback model configuration\n3. **Mark the step as failed only if both primary and fallback attempts fail**\n\n### Fallback Configuration\n\nAdd a `fallback` object to any model step in your workflow definition:\n\n```json\n{\n  \"step_id\": \"generate_image\",\n  \"type\": \"model\",\n  \"model\": \"flux-dev\",\n  \"params\": {\n    \"prompt\": \"{{inputs.prompt}}\",\n    \"num_images\": 1\n  },\n  \"fallback\": {\n    \"enabled\": true,\n    \"model\": \"flux-1-1-pro\",\n    \"params\": {\n      \"prompt\": \"{{inputs.prompt}}\",\n      \"guidance_scale\": 7.5\n    }\n  }\n}\n```\n\n### Fallback Properties\n\n| Property | Type | Description |\n|----------|------|-------------|\n| `enabled` | boolean | Enable or disable fallback for this step (default: `true`) |\n| `model` | string | Alternative AI model identifier to use on failure |\n| `version` | string | Fallback model version (defaults to primary version when omitted) |\n| `params` | object | Model-specific parameters for the fallback (supports template variables) |\n\n### Detecting Fallback Usage\n\nWhen a fallback is used, the step's metadata in execution results will include:\n\n- `fallback_used: true` - Indicates the step completed using the fallback configuration\n- `primary_error` - Human-readable description of why the primary attempt failed\n\n### Example Execution Response with Fallback\n\n```json\n{\n  \"step_id\": \"generate_image\",\n  \"status\": \"completed\",\n  \"output\": \"https://storage.googleapis.com/uploads/image.png\",\n  \"metadata\": {\n    \"model\": \"flux-1-1-pro\",\n    \"fallback_used\": true,\n    \"primary_error\": \"Primary model flux-dev failed: rate limit exceeded\"\n  }\n}\n```\n\n---\n\n## Unlisted Workflows\n\nVersions can be \"unlisted\" - accessible via direct link but hidden from public listings.\n\n**Visibility states:**\n- **Private** (default): Organization only\n- **Unlisted**: Accessible via link, hidden from public listings\n- **Public**: Visible in listings and accessible to everyone\n\n**Setting unlisted:** Use `allowed_to_share: true` when creating or updating a version.\n\n```bash\n# Create unlisted version\nPUT /workflows/{workflowID}/versions/v1 { \"allowed_to_share\": true, ... }\n```\n\n**Behavior:**\n- `allowed_to_share: true` → Creates/updates as unlisted\n- `allowed_to_share: false` → Creates/updates as private\n- No effect on public versions (never downgraded)\n",
    "version": "1.0.0",
    "x-logo": {
      "url": "./logo-white.svg",
      "altText": "Eachlabs Logo"
    }
  },
  "servers": [
    {
      "url": "https://api.eachlabs.ai/v1",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Workflows",
      "description": "Workflow and version management"
    },
    {
      "name": "Public Workflows",
      "description": "Access public and unlisted workflows by organization nickname"
    }
  ],
  "paths": {
    "/workflows": {
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "List workflows",
        "description": "List the workflows visible to your organization, newest first.\n\n`offset` in the response is the **next** page's start, not an echo of the one you sent. It is present whenever the page came back full, so page until a page returns fewer than `limit` rows.\n",
        "operationId": "listWorkflows",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size. Defaults to 50, capped at 100.",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Page start.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Keep only workflows carrying this category slug.",
            "schema": {
              "type": "string",
              "example": "image-generation"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "required": false,
            "description": "Free-text match on the workflow name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_key",
            "in": "query",
            "required": false,
            "description": "Sort column. Ignored unless `sort_direction` is also given.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "updated_at",
                "trigger_count",
                "status"
              ]
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "required": false,
            "description": "Sort direction. Ignored unless `sort_key` is also given.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "node_based",
            "in": "query",
            "required": false,
            "description": "Keep only workflows whose `node_based` flag matches. Omit for all.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of workflows",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/workflows/{workflowID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkflowID"
        }
      ],
      "get": {
        "tags": [
          "Workflows"
        ],
        "summary": "Get workflow details",
        "description": "Retrieve detailed information about a workflow including all its versions.\n\nYou can specify either the workflow UUID or slug as the workflowID parameter.\n",
        "operationId": "getWorkflow",
        "responses": {
          "200": {
            "description": "Workflow details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Workflows"
        ],
        "summary": "Update workflow",
        "description": "Rename a workflow. `name` is the only body field this endpoint honors, and unknown keys are ignored.\n\nA real rename regenerates the workflow slug, so any URL that pins the old slug stops resolving.\n\nNote: To update the workflow definition (steps), use the version endpoints instead.\n",
        "operationId": "updateWorkflow",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/workflows/{workflowID}/versions/{versionID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WorkflowID"
        },
        {
          "name": "versionID",
          "in": "path",
          "required": true,
          "description": "Version identifier (e.g., \"v1\", \"v2\")",
          "schema": {
            "type": "string",
            "example": "v1"
          }
        }
      ],
      "put": {
        "tags": [
          "Workflows"
        ],
        "summary": "Create or update workflow version",
        "description": "Create a new workflow version or update an existing one.\n\nPatch semantics: omitted body fields keep their stored values. `definition` is required to create a new version; omit it (or send `null`) to keep the stored one.\n\nThis operation will:\n- Create the version if it doesn't exist, or patch the stored one\n- Set this version as the latest version for the workflow\n\n**Important**: Once a version is locked, it cannot be modified.\n",
        "operationId": "upsertWorkflowVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertVersionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workflow version created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowVersionSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/public/@{nickname}/workflows/{slug}/versions/{versionID}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Nickname"
        },
        {
          "$ref": "#/components/parameters/Slug"
        },
        {
          "$ref": "#/components/parameters/VersionID"
        }
      ],
      "get": {
        "tags": [
          "Public Workflows"
        ],
        "summary": "Get public workflow version",
        "description": "Retrieve a specific version of a public or unlisted workflow by organization nickname.\n\n**No authentication required** — send no `Authorization` header.\n\nExample:\n```\nGET /v1/public/@acme-corp/workflows/my-generator/versions/v1\n```\n",
        "operationId": "getPublicWorkflowVersionByNickname",
        "responses": {
          "200": {
            "description": "Workflow version details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicWorkflowVersion"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "security": []
      }
    },
    "/public/@{nickname}/workflows/{slug}/versions/{versionID}/trigger": {
      "parameters": [
        {
          "$ref": "#/components/parameters/Nickname"
        },
        {
          "$ref": "#/components/parameters/Slug"
        },
        {
          "$ref": "#/components/parameters/VersionID"
        }
      ],
      "post": {
        "tags": [
          "Public Workflows"
        ],
        "summary": "Trigger public workflow version",
        "description": "Trigger a public or unlisted workflow using the organization nickname, workflow slug, and version.\n\n**Authentication required** - provide your API key as `api_key` in the request body. An `X-API-Key` header works as a fallback when `api_key` is absent; `Authorization: Bearer` is not read on this route.\n\nThe organization owning the key is billed for the run, not the organization that published the workflow. The version is pinned by the path.\n\nExample:\n```\nPOST /v1/public/@acme-corp/workflows/my-generator/versions/v1/trigger\nBody: { \"api_key\": \"your-api-key\", \"inputs\": { \"prompt\": \"...\" } }\n```\n",
        "operationId": "triggerPublicWorkflowVersionByNickname",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TriggerWorkflowRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Workflow execution started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "description": "Not found - the workflow version does not exist or is not publicly available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "workflow version not found or not publicly available"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as `Authorization: Bearer <api_key>`"
      }
    },
    "parameters": {
      "WorkflowID": {
        "name": "workflowID",
        "in": "path",
        "required": true,
        "description": "Unique workflow identifier",
        "schema": {
          "type": "string",
          "example": "wf_abc123"
        }
      },
      "Nickname": {
        "name": "nickname",
        "in": "path",
        "required": true,
        "description": "Organization nickname (without @ prefix)",
        "schema": {
          "type": "string",
          "example": "acme-corp"
        }
      },
      "Slug": {
        "name": "slug",
        "in": "path",
        "required": true,
        "description": "Workflow slug",
        "schema": {
          "type": "string",
          "example": "my-image-generator"
        }
      },
      "VersionID": {
        "name": "versionID",
        "in": "path",
        "required": true,
        "description": "Version identifier",
        "schema": {
          "type": "string",
          "example": "v1"
        }
      }
    },
    "schemas": {
      "UpdateWorkflowRequest": {
        "type": "object",
        "description": "Rename a workflow. `name` is the only honored field; unknown keys are ignored.\n\nNote: To update the workflow definition (steps), use the version endpoints instead.\n",
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable workflow name. A real rename regenerates the workflow slug.",
            "example": "Text to Image Generator v2"
          }
        }
      },
      "UpsertVersionRequest": {
        "type": "object",
        "properties": {
          "version_id": {
            "type": "string",
            "description": "Optional; overrides the version in the path when present",
            "example": "v2"
          },
          "definition": {
            "type": "object",
            "description": "The complete workflow definition for this version.\nRequired when creating a new version; omit (or send null) to keep the stored definition when updating.\n",
            "properties": {
              "version": {
                "type": "string",
                "description": "Version identifier (should match version_id)",
                "example": "v2"
              },
              "steps": {
                "type": "array",
                "description": "Array of step definitions",
                "items": {
                  "type": "object"
                },
                "example": [
                  {
                    "step_id": "generate_text",
                    "type": "model",
                    "model": "openai-chatgpt-5",
                    "params": {
                      "system_prompt": "You are a helpful assistant",
                      "user_prompt": "{{inputs.prompt}}"
                    }
                  },
                  {
                    "step_id": "generate_image",
                    "type": "model",
                    "model": "flux-dev",
                    "params": {
                      "prompt": "{{generate_text.output}}",
                      "num_images": 2
                    },
                    "fallback": {
                      "enabled": true,
                      "model": "flux-1-1-pro",
                      "params": {
                        "prompt": "{{generate_text.output}}",
                        "guidance_scale": 7.5
                      }
                    }
                  }
                ]
              },
              "input_schema": {
                "type": "object",
                "description": "JSON Schema for validating workflow inputs"
              },
              "metadata": {
                "type": "object",
                "description": "Additional workflow metadata including output mappings"
              }
            }
          },
          "output_mapping": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Final output keys mapped to step output refs. Omit to leave unchanged, send {} to clear, send entries to replace the whole map.",
            "example": {
              "image": "$.generate_image.output"
            }
          },
          "published": {
            "type": "boolean",
            "description": "Publish state for this version. Omitted keeps the stored value."
          },
          "locked": {
            "type": "boolean",
            "description": "Lock this version against further edits. Omitted keeps the stored value."
          },
          "production": {
            "type": "boolean",
            "description": "Mark as the production version. Omitted keeps the stored value."
          },
          "allowed_to_share": {
            "type": "boolean",
            "description": "Toggle unlisted sharing for this version.\n\n- `true` → makes the version \"unlisted\" (accessible via link, hidden from public listings)\n- `false` → makes the version \"private\" (organization only)\n- No effect on public versions\n- Omitted keeps the stored value (new versions default to private)\n"
          }
        }
      },
      "WorkflowList": {
        "type": "object",
        "description": "A page of workflows",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowSummary"
            }
          },
          "offset": {
            "type": "integer",
            "description": "Start of the next page; present while pages come back full",
            "example": 50
          },
          "total_count": {
            "type": "integer",
            "description": "Full result-set size for the applied filters",
            "example": 231
          }
        }
      },
      "WorkflowSummary": {
        "type": "object",
        "description": "The list view of a workflow — summary fields only, without its versions",
        "properties": {
          "workflow_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique workflow identifier",
            "example": "50741f40-8621-4d46-8a91-dff4d873be98"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly workflow identifier",
            "example": "text-to-image-generator"
          },
          "name": {
            "type": "string",
            "description": "Human-readable workflow name",
            "example": "Text to Image Generator"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Category slugs",
            "example": [
              "image-generation"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form workflow tags",
            "example": [
              "demo"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived",
              "deleted"
            ],
            "description": "Workflow lifecycle status",
            "example": "active"
          },
          "trigger_count": {
            "type": "integer",
            "description": "Total number of times this workflow has been triggered",
            "example": 42
          },
          "clone_count": {
            "type": "integer",
            "description": "Number of times this workflow has been cloned",
            "example": 3
          },
          "is_public": {
            "type": "boolean",
            "description": "Whether the workflow appears in public listings",
            "example": false
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production workflow",
            "example": false
          },
          "node_based": {
            "type": "boolean",
            "description": "Whether the workflow's latest active version runs as a node graph",
            "example": false
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when workflow was created",
            "example": "2025-12-01T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when workflow was last updated",
            "example": "2025-12-07T15:30:00Z"
          }
        }
      },
      "WorkflowDetail": {
        "type": "object",
        "description": "Complete workflow information including all versions",
        "required": [
          "workflow_id",
          "name"
        ],
        "properties": {
          "workflow_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique workflow identifier",
            "example": "50741f40-8621-4d46-8a91-dff4d873be98"
          },
          "slug": {
            "type": "string",
            "description": "URL-friendly workflow identifier",
            "example": "text-to-image-generator"
          },
          "name": {
            "type": "string",
            "description": "Human-readable workflow name",
            "example": "Text to Image Generator"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Category slugs",
            "example": [
              "image-generation",
              "ai"
            ]
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Free-form workflow tags",
            "example": [
              "demo"
            ]
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production workflow",
            "example": false
          },
          "is_public": {
            "type": "boolean",
            "description": "Whether the workflow appears in public listings",
            "example": false
          },
          "clone_count": {
            "type": "integer",
            "description": "Number of times this workflow has been cloned",
            "example": 3
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived",
              "deleted"
            ],
            "description": "Workflow lifecycle status",
            "example": "active"
          },
          "trigger_count": {
            "type": "integer",
            "description": "Total number of times this workflow has been triggered",
            "example": 42
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when workflow was created",
            "example": "2025-12-01T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when workflow was last updated",
            "example": "2025-12-07T15:30:00Z"
          },
          "versions": {
            "type": "array",
            "description": "List of all versions for this workflow",
            "items": {
              "$ref": "#/components/schemas/WorkflowVersionSummary"
            }
          }
        }
      },
      "WorkflowVersionSummary": {
        "type": "object",
        "description": "Summary information about a workflow version",
        "required": [
          "version_id",
          "slug"
        ],
        "properties": {
          "version_id": {
            "type": "string",
            "description": "Version identifier",
            "example": "v1"
          },
          "slug": {
            "type": "string",
            "description": "Workflow slug (inherited from parent workflow)",
            "example": "text-to-image-generator"
          },
          "published": {
            "type": "boolean",
            "description": "Whether this version is published",
            "example": false
          },
          "locked": {
            "type": "boolean",
            "description": "Whether this version is locked from modifications",
            "example": false
          },
          "production": {
            "type": "boolean",
            "description": "Whether this is a production version",
            "example": true
          },
          "allowed_to_share": {
            "type": "boolean",
            "description": "True if version is unlisted (accessible via direct link but hidden from public listings).",
            "example": false
          },
          "trigger_count": {
            "type": "integer",
            "description": "Number of times this specific version has been triggered",
            "example": 15
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when version was created",
            "example": "2025-12-01T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when version was last updated",
            "example": "2025-12-05T14:20:00Z"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived",
              "deleted"
            ],
            "description": "Version lifecycle status",
            "example": "active"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "private",
              "unlisted",
              "public"
            ],
            "description": "Version visibility",
            "example": "private"
          },
          "is_popular": {
            "type": "boolean",
            "description": "Whether the version is featured as popular in public listings",
            "example": false
          },
          "updated_by": {
            "type": "string",
            "description": "Identifier of the user who last updated the version",
            "example": "user@example.com"
          },
          "definition": {
            "type": "object",
            "description": "The complete workflow definition — steps, input schema, and metadata.\nOmitted from the response when the version has no stored definition.\n"
          },
          "public_description": {
            "type": "string",
            "description": "Public listing description. Omitted when unset.",
            "example": "Generates images from text prompts"
          },
          "public_thumbnail": {
            "type": "string",
            "description": "Public listing thumbnail URL. Omitted when unset.",
            "example": "https://storage.googleapis.com/uploads/thumb.png"
          },
          "public_popular_sort_order": {
            "type": "integer",
            "description": "Sort position within the popular public listing. Omitted when unset.",
            "example": 1
          },
          "public_example_output": {
            "type": "string",
            "description": "Public listing example output URL. Omitted when unset.",
            "example": "https://storage.googleapis.com/uploads/example.png"
          }
        }
      },
      "PublicWorkflowVersion": {
        "type": "object",
        "description": "Flat public view of one workflow version. Empty optional fields are omitted from the JSON entirely.",
        "required": [
          "workflow_id",
          "version_id",
          "slug",
          "name",
          "description",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "workflow_id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique workflow identifier",
            "example": "50741f40-8621-4d46-8a91-dff4d873be98"
          },
          "version_id": {
            "type": "string",
            "description": "Version identifier",
            "example": "v1"
          },
          "slug": {
            "type": "string",
            "description": "Workflow slug",
            "example": "my-generator"
          },
          "name": {
            "type": "string",
            "description": "Public workflow name",
            "example": "My Generator"
          },
          "description": {
            "type": "string",
            "description": "Public workflow description",
            "example": "Generates images from text prompts"
          },
          "thumbnail": {
            "type": "string",
            "description": "Thumbnail URL. Omitted when unset.",
            "example": "https://storage.googleapis.com/uploads/thumb.png"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Category slugs. Omitted when empty.",
            "example": [
              "image-generation"
            ]
          },
          "definition": {
            "type": "object",
            "description": "The complete workflow definition. Omitted when the version has no stored definition."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "archived",
              "deleted"
            ],
            "description": "Version lifecycle status",
            "example": "active"
          },
          "example_output": {
            "type": "string",
            "description": "Example output URL. Omitted when unset.",
            "example": "https://storage.googleapis.com/uploads/example.png"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when version was created",
            "example": "2025-12-01T10:00:00Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "RFC3339 timestamp when version was last updated",
            "example": "2025-12-05T14:20:00Z"
          }
        }
      },
      "TriggerWorkflowRequest": {
        "type": "object",
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Your eachlabs API key. The public trigger authenticates via this body field instead of an `Authorization` header; an `X-API-Key` header is read as a fallback. The organization owning the key is billed for the run.",
            "example": "your-api-key"
          },
          "inputs": {
            "type": "object",
            "description": "Input parameters defined in the workflow definition for the workflow",
            "example": {
              "text": "tell me a story"
            }
          },
          "webhook_url": {
            "type": "string",
            "format": "uri",
            "description": "**Optional webhook URL for execution completion notifications.**\n\nWhen provided, the engine will POST an `ExecutionDetails` payload to this URL\nwhen the workflow finishes (either successfully or with an error).\n\nSee the **Webhooks** section for detailed information about webhook behavior and payload structure.\n",
            "example": "https://your-api.com/webhooks/workflow-completed"
          },
          "webhook_secret": {
            "type": "string",
            "description": "**Optional**: shared secret used to verify webhook deliveries.",
            "example": "whsec_example"
          }
        },
        "required": [
          "api_key"
        ]
      },
      "ExecutionResponse": {
        "type": "object",
        "description": "Response from triggering a workflow execution. Failures return an error status with an `{\"error\": \"...\"}` body instead.",
        "required": [
          "execution_id",
          "status"
        ],
        "properties": {
          "execution_id": {
            "type": "string",
            "description": "Unique execution identifier",
            "example": "e2dba2bb-bc1d-4651-b6bf-fbbbebdee104"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued"
            ],
            "description": "Execution status immediately after triggering: the execution has been queued and will start shortly.",
            "example": "queued"
          }
        },
        "example": {
          "execution_id": "e2dba2bb-bc1d-4651-b6bf-fbbbebdee104",
          "status": "queued"
        }
      },
      "FallbackConfig": {
        "type": "object",
        "description": "Fallback configuration for model steps. When configured, the workflow engine will \nautomatically retry with the fallback model if the primary model invocation fails.\n",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": true,
            "description": "Enable or disable fallback for this step",
            "example": true
          },
          "model": {
            "type": "string",
            "description": "Fallback AI model identifier to use if the primary model fails.\nShould be compatible with the expected output format.\n",
            "example": "flux-1-1-pro"
          },
          "version": {
            "type": "string",
            "description": "Fallback model version. When omitted, defaults to the primary model's version.\n",
            "example": "1.0.0"
          },
          "params": {
            "type": "object",
            "description": "Fallback-specific model parameters. Supports template variables like `{{inputs.prompt}}`\nand `{{step_id.output}}` for referencing workflow inputs and previous step outputs.\n",
            "additionalProperties": true,
            "example": {
              "prompt": "{{inputs.prompt}}",
              "guidance_scale": 7.5
            }
          }
        },
        "example": {
          "enabled": true,
          "model": "flux-1-1-pro",
          "params": {
            "prompt": "{{inputs.prompt}}",
            "guidance_scale": 7.5
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error message"
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request - Invalid input",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized - Invalid or missing API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - Operation not allowed (e.g., workflow is locked)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "Payment required - the calling organization has insufficient balance",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict - the requested name resolves to a slug already taken by another workflow",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found - Resource does not exist",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}
